<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Laravel Rewrite" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
				
 
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\iis express\PHP\v8.2.10\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>

    </system.webServer>
</configuration>